*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: antiquewhite;
}

.section__content{
    margin-top: 200px;
    background-color: brown;
    height: 450px;
}

.list-group{
    margin-top: 30px;
}

.list-group-item{
    border-radius: 8px;
    margin: 5px 0;
    width: 220px;
    text-align: center;
    outline: none;
}

.section__contentRight{
    background-image: url(./img/corner-4.png);
    background-size: cover;
    background-position: center;
    background-color: white;
    height: 410px;
    margin: 20px 150px;
    padding-left: 20px;
}

.section__contentRight select{
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px #ababab inset;
    background-color: antiquewhite;
    border: 0;
    padding: 10px;
    width: 200px;
}

.section__contentRight input{
    border-radius: 8px;
    box-shadow: 1px 1px 1px 1px #ababab inset;
    background-color: antiquewhite;
    border: 0;
    padding: 10px;
}

.section__contentRight .btn{
    margin-top: 20px;
    padding: 5px 20px;
}

.section__contentRight .section__contentRightResult{
    margin-top: 20px;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #ababab inset;
    background-color: antiquewhite;
    padding: 20px;
    width: 255px;
    height: 115px;
}